<!DOCTYPE html>
<html>
    <body>
            <header>
                    <h1 style="text-align:center">COLLEGE OF ENGINEERING AND TECHNOLOGY,BHUBANESWAR</h1>
                    <h2 style="text-align: center">ATTENDANCE SHEET</h2>
            </header>
            <div >
                    <p style="text-align:center;"><%=sem %>th Semester 2nd Class Test- 2017-18 </p>
                    <p><b><%=branch %> Gr- <%=group %></b></p>
                    <p>
                            DATE OF EXAMINATION: <%=date %>   Time:              Room No:  <%=roomNo %>
                    </p>
                    <p> Subject Code:                    SUBJECT:<%= subject %></p>
                </div>

            <table>
                    <thead>
                            <th>
                                    SL
                            </th>
                            <th>
                                    Name
                            </th>
                            <th>
                                    Registration Number
                            </th>
                            <th>
                                    Signature
                            </th>
                    </thead>
                    <tbody>
                            <% for(var i=0; i<arrResult.length; i++){ %>
                                    <tr>
                                            <td>
                                        <%=arrResult.sl  %>
                                </td>
                                <td>
                                        <%=arrResult.name  %>
                                </td>
                                <td>
                                        <%=arrResult.regno  %>
                                </td>
                                <!-- <td>
                                        <%=arrResult.sl  %>
                                </td> -->

                                    </tr>
                                
                             <% } %>
                            
                    </tbody>
            </table>
    </body>
    
</html>